<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ai.mlc.mlcchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lamrnd.docqa.DocQAApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mlc_logo_108"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mlc_logo_108"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLCChat"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false"/>

        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Add your OAuth 2.0 client ID -->
        <meta-data android:name="com.google.android.gms.client_id"
            android:value="974919882648-v01jb1rl8af4hoh9tpaa2hmcfaekekcl.apps.googleusercontent.com" />
    </application>

</manifest>